<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="es">
<head>
    <title>Lista Canciones</title>
    <meta charset="UTF-8">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body class="container">
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <img src="/img/logo.png" alt="Logo" style="height: 80px;">
        <a class="navbar-brand" href="#">Administrador MusicMatch</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/admin/">Inicio</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="d-flex justify-content-center align-items-center">
    <h1>Lista Canciones</h1>
</div>
<div class="pb-2">
    <a href="/artista/altaA"><button class="btn btn-light col-2">Añadir</button></a>
</div>
<div class="container">
    <h1 class="mt-5">Lista de Artistas</h1>
    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th>Nombre</th>
        </tr>
        </thead>
        <tbody>
        <!-- Utiliza Thymeleaf para iterar sobre los artistas y mostrarlos en la tabla -->
        <tr th:each="artista : ${artistas}">
            <td th:text="${artista.nombreArtista}">Nombre</td>
            <td class="align-middle">
                <a class="text-decoration-none mx-1" th:href="@{/artista/eliminar(codartista=${artista.idArtista})}">
                    <img src="/img/e.jpeg" alt="Eliminar">
                </a>
                <a class="text-decoration-none mx-1" th:href="@{/artista/modificar(codartista=${artista.idArtista})}">
                    <img src="/img/m.jpeg" alt="Modificar">
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
</script>

</body>
</html>
