<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registrar usuario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body style="background-color: rgba(0, 0, 0);">
<div class="container-md text-center" style="margin-top: 0px;">
    <img src="/img/logo.png" alt="logo">
</div>
<div class="container-md mx-auto">
    <div class="row justify-content-center">
        <main class="col-md-6 mt-5">
            <div>
                <h1 class="text-center mx-auto mb-5 text-white">Registrar usuario</h1>
                <form th:action="@{/usuario/alta}" th:object="${altaUsuario}" method="post">
                    <div class="form-group mb-4">
                        <label for="nombre" class="form-label text-white text-center">Nombre *</label>
                        <input type="text" class="form-control abs-center" id="nombre" th:field="*{nombreUsuario}" placeholder="Nombre"
                               style="background-color: rgba(250, 250, 250);" required>
                    </div>
                    <div class="form-group mb-4">
                        <label for="correoElectronico" class="form-label text-white text-center">correoElectronico *</label>
                        <input type="correoElectronico" class="form-control abs-center" id="correoElectronico" th:field="*{correoElectronico}" placeholder="correoElectronico"
                               style="background-color: rgba(250, 250, 250);" required>
                    </div>
                    <div class="form-group mb-4">
                        <label for="clave" class="form-label text-white">Contraseña *</label>
                        <input type="password" class="form-control" id="clave" th:field="*{clave}"
                               placeholder="Contraseña" style="background-color: rgba(250, 250, 250);" required>
                    </div>
                    <div class="form-group mb-4">
                        <label for="confirmarClave" class="form-label text-white">Confirmar contraseña *</label>
                        <input type="password" class="form-control" id="confirmarClave"
                               placeholder="Contraseña" style="background-color: rgba(250, 250, 250);" required>
                    </div>

                    <div class="py-3 mb-5">
                        <button type="submit" class="btn btn-light col-12 border shadow"
                                style="background-color: rgba(250, 250, 250);">Registrar
                        </button>
                    </div>
                </form>
            </div>
        </main>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>
