<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
<div class="row">
    <main class="col-lg-9">

        <div class="table-responsive mt-5 mb-4 mx-3">
            <table class="table">
                <thead>
                <tr class="text-left">
                    <th>Titulo</th>
                </tr>
                </thead>

            </table>
        </div> <!-- generos es lo que viene de el generoController que sale de ServicioGenero-->
                <!-- genero es el nombre que he puesto yo-->
                <!-- .nombreGenero es el nombre de la variable en Genero -->

        <div class="container py-4">
            <div class="row row-cols-4 g-4">
                <div th:each="genero, iterStat : ${generos}">
                    <div class="col">
                        <div class="card bg-dark text-white">
                            <img class="card-img-top" th:src="@{'https://cdn.pixabay.com/photo/' + ${iterStat.index} + '/path-to-image.jpg'}" alt="">
                            <div class="card-body">
                                <h6 class="font-family-sans-serif" th:text="${genero.getNombreGenero()}">Genero</h6>
                                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal" th:text="${genero.getNombreGenero()}">Genero</button>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <form action="#" th:action="@{/musicmatch/alta}" th:object="${altaGenero}" method="post">
            <div class="form-group">
                <label for="nombre">AltaNombre</label>
                <input type="text" class="form-control" id="nombre" th:field="*{nombreGenero}" required >
            </div>
            <div class ="py-3">
                <button type="submit" class="btn btn-primary col-12">Enviar</button>
            </div>
        </form>

        <tbody>
        <tr th:each="genero : ${generos}">
            <td class="align-middle">
                <a class="text-decoration-none mx-1" th:href="@{./eliminar?codGenero={id}(id=${genero.idGenero})}">
                    <img src="/delete-bin-line.png" alt="Eliminar">
                </a>
            </td>

            <td th:text="${genero.idGenero}"></td>
            <td th:text="${genero.nombreGenero}"></td>
        </tr>
        </tbody>

 <!--       <div class="mx-auto text-center">
            <h1>Modificar Turno</h1>
        </div>
        <div class="container">
            <form action="#" th:action="@{/musicmatch/modificar}" th:object="${modificarGeneros}" method="post">
                <div class="form-group">
                    <p><input type="hidden" th:field="*{idGenero}" /></p>
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombreGenero" th:field="*{nombreGenero}"  />
                </div>
            </form>
        </div>
        -->

  <!--      <div th:each="genero : ${unicoGenero}">
            <p th:text="${genero.getNombreGenero()}">Generos</p>
        </div>
    </main>

</div> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>