<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Chat Application</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body style="background-image: url('./img/vid1.mp4');">
<div id="chat-page" class="hidden">
    <div class="chat-container">
        <div class="chat-header">
            <img src="./img/logo.png" alt="logo" style="height: 150px;">
            <h2> Chat</h2>
        </div>
        <div class="connecting">
            Connecting...
        </div>
        <ul id="messageArea"></ul>
        <form id="messageForm" name="messageForm">
            <div class="form-group">
                <div class="input-group clearfix">
                    <label for="message"></label><input autocomplete="off" class="form-control" id="message"
                                                        placeholder="Escribe tu mensaje...." type="text"/>
                    <div class="button-group">
                        <button type="submit" class="dark">Send</button>
                        <button id="logoutButton" class="accent">Salir</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a href="/tablero/">
        <button type="submit" class="accent username-submit">Volver</button>
    </a>
</div>

<noscript>
    <h2>Sorry! Your browser doesn't support Javascript</h2>
</noscript>

<div id="username-page">
    <div class="username-page-container">
        <img src="./img/logo.png" alt="logo" style="height: 130px;">
        <h1 class="title">Introduce tu nombre de usuario</h1>
        <form id="usernameForm" name="usernameForm">
            <div class="form-group">
                <input type="text" id="name" placeholder="Username" aria-label="username" autocomplete="off"
                       class="form-control">
            </div>
            <div class="form-group">

                <span style="margin: 0 10px;"></span>
                <button type="submit" class="accent username-submit">Entrar</button>
            </div>
        </form>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
